/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
@use 'vuetify/settings' with (
  $body-font-family: ('Pretendard', sans-serif),
  $heading-font-family: ('Pretendard', sans-serif),
  );